.App{
    display: flex;
    height: 100%;
}

.leftMenu{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.leftList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.confesionsContainer{
    overflow-y: auto;
}

.confesionsContainer::-webkit-scrollbar{
    width: 5px;
}

.confesionsContainer::-webkit-scrollbar-thumb{
    background-color: rgb(77, 50, 104);
    border-radius: 5px;
}

#confesionsList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
}

.yourConfesions{
    overflow-y: auto;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.yourConfesions::-webkit-scrollbar{
    width: 5px;
}

.yourConfesions::-webkit-scrollbar-thumb{
    background-color: rgb(77, 50, 104);
    border-radius: 5px;
}

.tittleYourConfesionsContainer{
    display: flex;
    justify-content: center;
    background-color: grey;
    position: sticky;
    top: 0;
}

#yourConfesionsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

dd{
    padding: 0px 10px 0px 10px;
}